# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

#### objective:
This course includes how to launch jyupter notebook by usin Anaconda.It also shows how to use Rstudio.
this course shows how different languages can be used by Data scientiest.

### Some of the popular languages that Data Scientists use are:

1. python
2. Sql
3. Java

### Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. pandas
3. matplotlib

#### Data Science Tools
_______________________
Apache spark
_______________________
Jyupter notebook
_______________________
Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
##This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

# Author
##### Name:
***Samta Bajaj***